
@import "tailwindcss";


:root {


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2 rem;
  line-height: 1.5;
  font-weight: 400;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.section-title {
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-color: var(--color-yellow-300);
	margin-bottom: 2rem;
	text-align: center;
}


h1 {

  font-size: clamp(1.8rem, 5vw, 2.5rem);
  font-weight: 700;

  line-height: 1.1;
}

h2 {
    /* 1. Typography (Inherits system font, focuses on size/weight) */
    font-size: clamp(1.4rem, 1.5vw, 2.5rem); /* Responsive size, slightly smaller than h1 */
    font-weight: 400; /* Makes the heading assertive */
    line-height: 1.2;

    /* 2. Color and Spacing */
    margin-bottom: 1rem; /* Closer to the content it introduces */
    
    /* 3. Structural Accent (The most effective part) */
    position: relative;  /* Creates space for the vertical line */
}

h3 { 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.1rem
}



section {
	padding: 0.5rem;
	text-align: left;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;

}

@media (min-width: 768px) {
    section {
		padding: 2rem;
    }
}

section.timeline {
	padding: 0;

}

.section-content {
  position: relative;   /* relative for z-index positioning */
  z-index: 10;          /* stay above background Wave */
}

.section-title {
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-color: var(--color-yellow-400);
	margin-bottom: 2rem;
	text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 0;
  padding: 0.6em 1.0em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff6600;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #e0dbdb;
  }
}
